/* Navbar.css */
.navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    font-size: 1.8rem;
    color: white;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }
  
  .nav-links ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    font-size: 1rem;
    list-style: none;
    margin: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
  }
  
  /* Hamburger Menu (Mobile) */
  .menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #333;
      width: 100%;
      flex-direction: column;
      gap: 0;
      display: none;
      align-items: center;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .menu-toggle {
      display: flex;
    }
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 600px;
    object-fit: cover;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  