.main-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
}
.left-sidebar,
.right-slide {
  flex: 1 1 300px;
  min-width: 0;
}
.banner_contents {
    position: absolute;
    top: 35%;
    left: 15%;
    /* background-color: #fff; */
    padding: 50px;
}
.banner_contents {
  position: absolute;
  top: 35%;
  left: 15%;
  padding: 50px;
  color: #fff;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0.1) 80%,
    transparent 100%
  );
}


